In [1]:
x = True 
x = False 
y = False 
print(y)

x=9
y = x*5
print(y)

False
45

In [10]:
x = y = [[7, 8, 9], 8, 9]
#x[0] = 13
print(y)

x = [1, 2, [3, 4, 5], 6, 7] # this is nested list print x[2]
print (x[2][1])

z = [1, 2, [1, 2, [1, 2, 3]], 4, 5, 6]
print (z[2][2][1])

[[7, 8, 9], 8, 9]
4
2

In [11]:
b = ['a', 1, 'python', (1, 2)] 
b[2] = 5 # allowed
print(b)

['a', 1, 5, (1, 2)]

In [13]:
empty_list = []      #  list can be empty
mixed_list = [1, 'abc', True, 2.34, None]   # heterogenous list 
nested_list = [['a', 'b', 'c'], [1, 2, 3]]     # nested list 

# Lists in Python are zero-indexed meaning that the first element in the list is at index 0

print(empty_list)
print(nested_list[-1])
mixed_list.append("stART")
mixed_list.insert(3, "Test")
print(mixed_list)
mixed_list.count(1)
nested_list.reverse()

print(mixed_list)
mixed_list[::-1]  # slicing 
print(mixed_list)
nested_list.pop()

[]
[1, 2, 3]
[1, 'abc', True, 'Test', 2.34, None, 'stART']
[1, 'abc', True, 'Test', 2.34, None, 'stART']
[1, 'abc', True, 'Test', 2.34, None, 'stART']

['a', 'b', 'c']

In [15]:
stk = [3, 4, 5]
stk.append(6)
stk.append(7)
stk.pop()
for element in stk : 
   print (element)

3
4
5
6

In [18]:
from collections import deque

queue = deque(["India", "Japan", "America"])
queue.append("Singapore")           # Singapore arrives
queue.append("UK")          # UK arrives
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves                  
print(queue)           # Remaining queue in order of arrival
deque(['India', 'Singapore', 'Japan'])
print(deque)

deque(['America', 'Singapore', 'UK'])
['India', 'Singapore', 'Japan']

In [24]:
t = 12345, 54321, 'welcome'           # tuple packing 
print(t[0])
print(t)
u = t, (1, 2, 3, 4, 5)      # Tuples may be nested:
print(u)

x, y, z = t                 # Sequence unpacking 
print(x)

12345
(12345, 54321, 'welcome')
((12345, 54321, 'welcome'), (1, 2, 3, 4, 5))
12345

In [28]:
dict([('Krishna', 4139), ('kaveri', 4127), ('Ganga', 4498)])

{'Krishna': 4139, 'kaveri': 4127, 'langa': 4098}

In [33]:
name = ['Krishna', 'Kaveri', 'Ganga', 'Ram']
id = [4139, 4127, 4498, 4223]

for n, i in zip(name, id):
  print('{0} : {1}'.format(n,i))

What is your name?  It is Baby.
What is your quest?  It is run around the court.
What is your favorite color?  It is blue.
Krishna : 4139
Kaveri : 4127
Ganga : 4498
Ram : 4223

In [26]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}