In [ ]:
#Python - Practice - 17/08/2021

In [ ]:
#Multiline statements
sum = 10 + 20 +\
30 + 40 + 50
sum1 = (10 + 20 
        + 30)
l1 =  ["man", 
       "woman",
       "child"]
print(sum)
print(sum1)
print(l1)

150
60
['man', 'woman', 'child']

In [ ]:
sum = 0
for i in range(0, 10):
  if i % 2 == 0:
    sum = sum + i
  else:
    sum = sum - 1

print(sum)

15

In [ ]:
#this is a comment
"""This is multiline comment"""
print("Comments are used to make code understandabe and easy for others to read")

Comments are used to make code understandabe and easy for others to read

In [ ]:
#id is used as identifier and no two variables can have same identifier
a = 100
b = 50
print(f"identifier of a is {id(a)}")
print(f"identifier of b is {id(b)}")

identifier of a is 93998760547936
identifier of b is 93998760546336

In [ ]:
a= b= c = 90
print(a, b, c)

a = b = c = d = 1, 2, 3, 4
print(a, b, c, d)

a, b, c = 4, 5, 6   
print(a, b, c)

90 90 90
(1, 2, 3, 4) (1, 2, 3, 4) (1, 2, 3, 4) (1, 2, 3, 4)
4 5 6

In [ ]:
# Declare a variable and initialize it  
x = 200  
  
# Global variable in function  
def mFunction():  
    # printing a global variable  
    global x  
    print(x)  
    # modifying a global variable  
    x = 'Welcome To OOP'  
    print(x)  
  
mFunction()  
print(x)  

#del x  
global x
print(x)

200
Welcome To OOP
Welcome To OOP
Welcome To OOP

In [ ]:
b = 2      # refer to same id

print('id(2) =', id(2))

print('id(b) =', id(b))


b = b+1

print('id(b) =', id(b))

print('id(3) =', id(3))    # refer to different id

id(2) = 93998760544800
id(b) = 93998760544800
id(b) = 93998760544832
id(3) = 93998760544832

In [ ]:
def outer():
    x = 40 #non local variable
    print(x)
    def inner():
        y = 35 # local variable
        print(y)
    outer.inner = inner
outer()
outer.inner()
z = 20          # Global Variable
print(z)

40
35
20

In [ ]:
def outer_function():
    a = 20

    def inner_function():
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
outer_function()
print('a =', a)

a = 30
a = 20
a = 10

In [ ]:
a = 5
b = 5.5
c = "Hello World"
d = 1 + 3j
e = [1, "hi", 55.4]
f = (1, "hi", 55.4)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(c*2)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
Hello WorldHello World

In [ ]:
#Dictionary
dict = {1:"Hello", 2: "Hi", 3: "Namaskar", 4: "Hola", 5: "Meharba"}
print("1st name is: ", dict[1])
print("2nd name is: ", dict[2])
print("3rd name is: ", dict[3])
print("4th name is: ", dict[4])
print("5th name is: ", dict[5])
print(dict.keys())
print(dict.values())

1st name is:  Hello
2nd name is:  Hi
3rd name is:  Namaskar
4th name is:  Hola
5th name is:  Meharba
dict_keys([1, 2, 3, 4, 5])
dict_values(['Hello', 'Hi', 'Namaskar', 'Hola', 'Meharba'])

In [ ]:
#Set
set1 = {"hello", 1, 11.5, "namaskar"}
print(set1)
set1.add(786)
set1.remove("hello")
print(set1)

{1, 'hello', 11.5, 'namaskar'}
{1, 11.5, 786, 'namaskar'}

In [ ]:
num_int = 500
num_str = "390"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 890
Data type of the sum: <class 'int'>

In [ ]:
a = 10
b = 20
print(f"a + b is : {a+b}")
print("a > b is :",a>b)
m = True
n = False
print("m and n is: ", m and n)
print("m not is: ", not m)

a + b is : 30
a > b is : False
m and n is:  False
m not is:  False

In [ ]:
print(a & b, a ^ b, a>>4, b <<1)
print(a is b)

0 30 0 40
False

In [ ]:
x = 'Hello world'
y = {1:'Hello',2:'Namaste'}


print('e' in x)
print('Hello' not in x)
print(1 in y)
print('Namaste' in y)

True
False
True
False

In [ ]:
u = int(input())
if u % 2 == 0:
  print(" u is divisible by 2")
elif u %  3 == 0:
  print("u is divisible by 3")
elif u % 5 == 0:
  print("u is divisible by 5")
else:
  print("u is not divisible by 2, 3, 5")

97
u is not divisible by 2, 3, 5

In [ ]:
u = int(input())
if u % 2 == 0:
  if u % 3 == 0:
    print("u is divisible by both 2 and 3")
  else:
    print(" u is divisible by 2")
elif u %  3 == 0:
  print("u is divisible by 3")
elif u % 5 == 0:
  print("u is divisible by 5")
else:
  print("u is not divisible by 2, 3, 5")

6
u is divisible by both 2 and 3

In [ ]:
list = [10, 20 , 30, 40, 50]
sum = 0
for i in range(0, 5):
  sum = sum + list[i]
print("Sum is: ",sum)

Sum is:  150

In [ ]:
list = [10, 20 , 30, 40, 50]
sum = 0
for i in range(0, 5):
  if list[i] % 3 == 0:
    sum = sum - list[i]
  else:
    sum = sum + list[i]
print("Sum is: ",sum)

Sum is:  90

In [ ]:
list = [10, 20 , 30, 40, 50]
sum = 0
i = 0
while i < 5:
  sum = sum + list[i]
  i = i+1
print("Sum is: ", sum)

Sum is:  150