In [ ]:
class OOPClass:
    strength = 132
    def read_number(self):
      self.strength = 786
      print(self.strength)
    print(strength)
obj = OOPClass()           # creating object of the class
obj.read_number()

132
786

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age #private attribute
    @property
    def age(self):
        print("Retrieving {}s age...".format(self.name))
        return self.__age
    @age.setter
    def age(self, value):
        if type(value) is not int:
            print("Age must be a number")
        if value < 0:
            print("Age canâ€™t be negative")
        print("Setting {}s to {}...".format(self.name, value))
        self.__age = age
p1 = Person("Arun", 21)
print(p1.name)
print(p1.age)
#print(p1.age(-23))

Arun
Retrieving Aruns age...
21

In [ ]:
class Calculation1:
  def Addition(self,x,y):
    return x+y;
class Calculation2:
  def Substraction(self,x,y):
    return x-y;
class Calculation3:
  def Multiplication(self,x,y):
    return x*y;
#multiple inheritance
class Derived(Calculation1, Calculation2):
  def Division(self,x,y):
    return x/y;
#multi level inheritance
class Calculation12(Calculation1):
  def modulo(self,x,y):
    return x%y;
class Calculation123(Calculation12):
  def mean(self,x,y):
    return (x+y)/2;
d = Derived()
print(d.Addition(2,3))
e = Calculation2()
print(e.Substraction(10,1))
f = Calculation123()
print(f.modulo(10,3))
print(f.mean(2,4))

5
9
1
3.0

In [ ]:
#method overriding
def addition(a, b):
  print(a + b)
addition(1,2)
def addition(a, b, c):
  print(a+b+c)
addition(1,2,5)

# Operator Overriding
print(2+3)
print("OOp"+" 234")

3
8
5
OOp 234

In [ ]:
class DataAnalyst:
  def __init__(self, name, sal):
    self.name = name
    self.sal = sal
  def increase_sal(self, amount):
    self.sal += amount
  def month_sal(self):
    return self.sal/12
class DataArch(DataAnalyst):
  pass
dArch = DataArch("DEF", 80500)
print(dArch.name)

DEF

In [ ]:
class DataAnalyst:
  def __init__(self, name, sal):
    self.name = name
    self.sal = sal
  def increase_sal(self, amount):
    self.sal += amount
  def month_sal(self):
    return self.sal/12
class DataArch(DataAnalyst):
  pass
  def __init__(self, name, sal = 60000 , proj_name= "fresher"):
    DataAnalyst.__init__(self, name, sal)
    self.poject = proj_name
dArch = DataArch("DEF", 80500)

DEF
60000

In [ ]:
# Declare a variable and initialize it  
x = 200  
  
# Global variable in function  
def mFunction():  
    # printing a global variable  
    #global x  
    #print(x)  
    # modifying a global variable  
    x = 'Welcome To OOP'  
    print(x)
    #print(x) 
    #del x 
    return
  
mFunction()  
print(x)  
#return
#del x  
#print(x)

Welcome To OOP
200

In [ ]:
class State:
  def __init__(self, name):
    self.name = name
  def sayname(self):
    print(f"I am from {self.name}")
s1 = State("Rajasthan")
s2 = State("Delhi")
s3 = State("UP")
l = [s1.sayname(), s2.sayname(), s3.sayname()]
for i in range(0,3):
  l[i]

I am from Rajasthan
I am from Delhi
I am from UP

In [ ]:
class Car:
  __colour = ""
  __name = ""
  def __init__(self):
    print(self.__colour)
    self.__colour = "Red" 
    print(self.__colour)
    self.__name = "Buggati"
  def drive(self):
    print(f"Colour of car is {self.__colour}")
c1 = Car()
c1.drive()
colour = "Purple"
c1.__colour = "Brown"
print(c1.__colour)

Red
Colour of car is Red
Brown

In [ ]:
class Car:
    __maxspeed = 0
    max = 8
    __name = ""    
    def __init__(self):
        self.__maxspeed = 400
        self.__name = "Supercar"    
    def drive(self):
        print('driving. maxspeed ' + str(self.__maxspeed))
redcar = Car()
redcar.drive()
mxspeed =10
redcar.__maxspeed = 10        # will not change variable because its private
redcar.drive()
print(Car.max)

driving. maxspeed 400
driving. maxspeed 400
8

In [ ]:
class Institute:
  def __init__(self):
    self.name = "IIIT Dharwad"
    self.__location = "Dharwad, Karnataka"
    print(self.__location)
class Derived(Institute):
  def __init__(self):
    Institute.__init__(self)
    print("Name of my institute is: ",self.name)
Obj1 = Institute()
print(Obj1.name)
Obj2 = Derived()

Dharwad, Karnataka
IIIT Dharwad
Dharwad, Karnataka
Name of my institute is:  IIIT Dharwad

In [ ]:
class student:
  count=0
  def __init__(self,num) :
    student.count=student.count+num
s1=student(4)
s2=student(5)
s3=student(6)
print("number of students in OOP class :", student.count)
print("number of students in OOP class:", s1.count, s2.count, s3.count)

number of students in OOP class : 15
number of students in OOP class: 15 15 15

In [ ]:
class student:
  count=0
  def __init__(self) :
    print("This is non parametrized constructor with no arguments or parameters") 

  def shownum(self,num):
       print("number of students in OOP class :", num * num)
       return num
s1=student()
s2=student()
s3=student()
result1= s1.shownum(5)
result2= s2.shownum(6)
print("number of students in OOP class :", result1,result2)

This is non parametrized constructor with no arguments or parameters
This is non parametrized constructor with no arguments or parameters
This is non parametrized constructor with no arguments or parameters
number of students in OOP class : 25
number of students in OOP class : 36
number of students in OOP class : 5 6

In [ ]:
class student:
  count=0
  def __init__(self,stname,stage) :
    self.name = stname
    self.age = stage
    print("This is parametrized constructor with no arguments or parameters") 

  def display(self,styear):
       print("Student joined IIIT Dharwad   :", self.name, self.age, styear)
       if styear <= 2020 :
         print ("Student has completed the course")
       return 
s1=student("Ram",21)
s2=student("Krishna",23)
s3=student("Kumar",22)
s1.display(2021)
s2.display(2019)

This is parametrized constructor with no arguments or parameters
This is parametrized constructor with no arguments or parameters
This is parametrized constructor with no arguments or parameters
Student joined IIIT Dharwad   : Ram 21 2021
Student joined IIIT Dharwad   : Krishna 23 2019
Student has completed the course

In [ ]:
class student:
    name = "Ram"
    age =  21
    def display(self,styear):
       print("Student joined IIIT Dharwad   :", self.name, self.age, styear)
       if styear <= 2020 :
         print ("Student has completed the course")
       return 
s1=student()
s2=student()
s3=student()
s1.display(2021)
s2.display(2019)

Student joined IIIT Dharwad   : Ram 21 2021
Student joined IIIT Dharwad   : Ram 21 2019
Student has completed the course

In [ ]:
class Car:
  def __init__(self):
    self.name = "BMW"
    self.model = "A20"
    self.year = "2020"
    print(f"Car's name is: {self.name}")
  def details(self):
    print(f"Car model is: {self.model} \n Car manufactured in year: {self.year} \n Car is of {self.__type} type .")
    print("Hello")
  def details(self):
    print(f"Car model is: {self.model} \nCar manufactured in year: {self.year} .")
class Truck(Car):
  #__type = " "
  def __init__(self):
    Car.__init__(self)
    print(f"Truck's name is: {self.name}")
  def details(self):
    self.model = "Z 19"
    print(f"Truck model is: {self.model} \nTruck manufactured in year: {self.year} .")
class Bike(Truck):
  def __init__(self):
    Truck.__init__(self)
    self.year = 2019
    print(f"Bike's name is: {self.name}")
  def details(self):
    self.model = " B6 12"
    print(f"Bike model is: {self.model} \nBike manufactured in year: {self.year} .") 
C1 = Car()
C1.details()
T1 = Truck()
T1.details()
B1 = Bike()
B1.details()

Car's name is: BMW
Car model is: A20
Car manufactured in year: 2020 .
Car's name is: BMW
Truck's name is: BMW
Truck model is: Z 19
Truck manufactured in year: 2020 .
Car's name is: BMW
Truck's name is: BMW
Bike's name is: BMW
Bike model is:  B6 12
Bike manufactured in year: 2019 .

In [ ]:
numbers = (89, 102, 0, 234, 67, 10, 333, 32)
flag = False
for num in numbers:
    if num == 10:
        flag = True
        break
if flag:
    print('Number found in tuple')
else:
    print('Number not found in tuple')

Number found in tuple

In [ ]:
# Custom exception
class InvalidAgeError(Exception):
  def __init__(self, arg):
    self.msg = arg

def vote_eligibility(age):
  if age < 18:
    raise InvalidAgeError("Person not eligible to vote, age is " + str(age))
  else:
    print('Person can vote, age is', age)

# calling function
try:
  vote_eligibility(22)
  vote_eligibility(14)
except InvalidAgeError as error:
  print(error)

Person can vote, age is 22
Person not eligible to vote, age is 14

In [ ]:
rows = 6
for i in range (1, rows):
    for j in range (0, rows -i):
        #print spaces, end='' ensures control 
        # remains on the same line
        print(' ', end='')
    for k in range (0, i):
        print('* ', end='')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *