In [ ]:
#Question 1
class Shape:
  def __init__(self):
    self.variable = 0

class Circle(Shape):
  def area(self, variable):
    self.variable = variable
    print(f"Area of Circle is: {3.14*self.variable*self.variable}")

class Square(Shape):
  def area(self,variable):
    self.variable = variable
    print(f"Area of Square is: {self.variable * self.variable}")

class Rectangle(Shape):
  def area(self,variable, variable2):
    self.variable = variable
    self.variable2 = variable2
    print(f"Area of Recangle is: {self.variable * self.variable2}")

c1 = Circle()
c1.area(7)

s1 = Square()
s1.area(4)

r1 = Rectangle()
r1.area(4,5)

Area of Circle is: 153.86
Area of Square is: 16
Area of Recangle is: 20

In [ ]:
#Question-2
class Travel:
  def __init__(self):
    self._nump = 15
    self.distance = 1600
    mode = "1. Train \n 2. Bus"

class Train(Travel):
  def __init__(self):
    Travel.__init__(self)
    price = 60
    print(f"Total travel cost by Train is {price * self._nump * self.distance} rupees.")

class Bus(Travel):
  def __init__(self):
    Travel.__init__(self)
    price = 100
    print(f"Total travel cost by Bus is {price * self._nump * self.distance} rupees.")

p1 = Train()
p2 = Bus()

Total travel cost by Train is 1440000 rupees.
Total travel cost by Bus is 2400000 rupees.

In [ ]:
#Question-3
class Car:
  def __init__(self, modelnum):
    self.modelnum = modelnum

  def __add__(self, second):
    t = self.modelnum
    self.modelnum = second.modelnum
    second.modelnum = t
    
car1 = Car(1101)
car2 = Car(1102)
car1 + car2
print(f"Model number of car1 is: {car1.modelnum}")
print(f"Model number of car2 is: {car2.modelnum}")

Model number of car1 is: 1102
Model number of car2 is: 1101